@media only screen and (min-width: 1025px) {
    /* Add styles for large screens here */

body {
    font-size: 18px; /* Adjust the base font size for large screens */
}


main {
    padding: 30px; /* Add even more padding to the main content for large screens */
}

footer {
    background-color: #777;
    display: flex; /* Update footer background color for large screens */
}
img {
    width: 300px; /* Set a fixed width for the images */
    height: 200px; /* Set a fixed height for the images */
    object-fit: cover; /* Ensure the images maintain their aspect ratio and cover the specified dimensions */
    transition: transform 0.3s; /* Add a transition for the hover effect */
  }
  img:hover {
    transform: scale(1.1); /* Apply a scale transformation on hover for the animation */
    transform: rotateY(180deg); 
  }
  

}